<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203016864988-nunrb33dnilak3nih4oa87ksg05b752a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203016864988-nunrb33dnilak3nih4oa87ksg05b752a</string>
	<key>API_KEY</key>
	<string>AIzaSyCFbdSae6NwgBXSTVe8GTDs43ow1jarc3A</string>
	<key>GCM_SENDER_ID</key>
	<string>203016864988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.asu.hcbowman.project1-2</string>
	<key>PROJECT_ID</key>
	<string>project1-93ec0</string>
	<key>STORAGE_BUCKET</key>
	<string>project1-93ec0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203016864988:ios:5faa1681a0baff2e11e019</string>
	<key>DATABASE_URL</key>
	<string>https://project1-93ec0.firebaseio.com</string>
</dict>
</plist>